@import "../../style/helpers/variables.scss";

.astronomy-pictures {
  @include basicBlocksSize;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__filtration {
    display: flex;
    max-width: inherit;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $paddingSize * 15;
  }

  &__wrapper-card {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: $paddingSize * 4;
    justify-content: center;
    margin-bottom: $paddingSize * 15;
    .astronomy-pictures__card {
      cursor: pointer;
      .astronomy-pictures-img {
        @include borderShadow;
        border-radius: 50%;
        max-width: 250px;
        width: 100%;
        margin-bottom: $paddingSize * 2;
      }
      .astronomy-pictures-date {
        font-size: $content-size;
        font-weight: $semi-bold;
      }
    }
  }

  &__button {
    width: inherit;
    padding: $paddingSize * 4 $paddingSize * 8;
    border-radius: $radius;
    border: 1px solid $blue;
    background-color: $purple;
    font-size: $content-size;
    color: $white;
    cursor: pointer;
  }

  &__button:hover {
    padding: $paddingSize * 6 $paddingSize * 10;
    background-color: $secondary;
  }
}
