//color
$primary: #1f122c;
$secondary: #a97180;
$white: #ffff;
$blue: #83b3c9;
// $black: #64516c;
$pink: #f4d4d7;

//font-size
$title-size: 40px;
$subtitle-size:25px;
$content-size:18px;
$normal:400;
$bold: 600;
$semi-bold:500;
$radius:20px;
$paddingSize: 4px;
$marginSize: 8px;


//mixins
@mixin basicBlocksSize{
    max-width: 800px;
    margin: 0 auto;
}

// @mixin contentBlocks{
// max-width: 1100px;
// width: 100%;
// margin: 0 auto;
// }

// @mixin borderShadow {
//     border-radius: $radius;
//     box-shadow: 5px 5px 10px 1px $secondary;
// }
