@import "../../style/helpers/variables.scss";

.header {
  @include basicBlocksSize;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  justify-content: space-between;
  &__title {
    font-size: $title-size;
    font-weight: $bold;
    margin-bottom: $paddingSize * 4;
  }
  &__main-part {
    font-size: $subtitle-size;
    margin-bottom: $paddingSize * 10;
  }
  &__filtration {
    display: flex;
    max-width: inherit;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $paddingSize * 15;
  }
}
